<%- include ('partials/header.ejs')%>
<div class="maxhidth center">
<div style="float: left;  width:100%;">
    <div style="float: left;  width: 650px;" class="clearfix">
        <div id="containerPosts">
        <% result.articles.rows.forEach(article=>{%>
            <div class="each-post">
            
                <!-- IMAGEM -->
                <img loading="lazy" alt="<%=article.title%>" src="/uploads/<%=article.img%>" style="height:210px; width:300px" id="image">
                        
                <!-- CATEGORIA -->

                <%if(article.category.title == "Atualidades"){%>
                    <a href="/category/<%= article.category.slug%>" id="category" style="color: #18f848">
                        <strong> <%= article.category.title %> </strong>
                    </a>
                <%}%>

                <%if(article.category.title == "Curiosidades"){%>
                    <a href="/category/<%= article.category.slug%>" id="category" style="color: #fd9800">
                        <strong> <%= article.category.title %> </strong>
                    </a>
                <%}%>

                <%if(article.category.title == "Educação"){%>
                    <a href="/category/<%= article.category.slug%>" id="category" style="color: #048af7">
                        <strong> <%= article.category.title %> </strong>
                    </a>
                <%}%>

                <%if(article.category.title == "Esportes"){%>
                    <a href="/category/<%= article.category.slug%>" id="category" style="color: #7d05ec">
                        <strong> <%= article.category.title %> </strong>
                    </a>
                <%}%>

                <% if(article.category.title == "Saúde"){%>
                <a href="/category/<%= article.category.slug%>" id="category" style="color: #ee0b0b">
                    <strong> <%= article.category.title %> </strong>
                </a>
                <%}%>

                <%if(article.category.title == "Tecnologia"){%>
                    <a href="/category/<%= article.category.slug%>" id="category" style="color: #135502">
                        <strong> <%= article.category.title %> </strong>
                    </a>
                <%}%>
                
                <%if(article.category.title == "Mundo Geek"){%>
                    <a href="/category/<%= article.category.slug%>" id="category" style="color: #2610ec">
                        <strong> <%= article.category.title %> </strong>
                    </a>
                <%}%>

                <%if(article.category.title == "Mundo Feminino"){%>
                    <a href="/category/<%= article.category.slug%>" id="category" style="color: #df14b3">
                        <strong> <%= article.category.title %> </strong>
                    </a>
                <%}%>

                <!-- TITULO -->
                <a href="/<%=article.slug%>" id="color-red-dark">
                    <h2 style="font-weight: 700;margin-top:10px;">
                    <%= article.title %>
                    </h2>
                    <!-- SUBTITULO -->
                    <div id="sub">
                    <%= article.subtitle %>
                    </div>
                </a>
            </div>
        <%})%>
        </div>
        <div class="row">
            <div class="col col-12">

                <% if(result.page > 2 ) {%>
                    <a style="float:left" href="/page/<%= result.page - 1 %>"> << Página anterior </a>
                <% }else if(result.page == 2){%>
                    <a style="float:left" href="/"> << Página anterior </a>
                <% }%>

                <% if(result.next) {%>
                    <a style="float:right" href="/page/<%= result.page + 1 %>"> Próxima página >> </a>
                <% }%>
            </div>
            <hr>
        </div>
    </div>
</div>
</div>
</div>
</body>